# -*- mode: gitignore; -*-
#
# .gitignore - specifies intentionally untracked files to ignore
#
# See https://git-scm.com/docs/gitignore for documentation
# See https://github.com/github/gitignore for various examples
#

# emacs
*~
\#*\#

# mac os x
*.DS_Store
._*

# project standards
tmp
*.log

# Node.js
node_modules

# gliki
.gliki/build
.goliki/public

# jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# sass
.sass-cache/

# bundler
.bundle/
vendor/

# obsidian
.obsidian
