# -*- mode: gitignore; -*-
#
# .gitignore - specifies intentionally untracked files to ignore
#
# See https://git-scm.com/docs/gitignore for documentation
# See https://github.com/github/gitignore for various examples
#

# emacs
*~
\#*\#

# mac os x
*.DS_Store
._*

# project standards
tmp
private
*.log

# Node.js
node_modules
