---
---

<h1>HGPA</h1>
<p>1982 -</p>

<h2>Journal</h2>
<ul>
{% for entry in site.journal %}
  <li>
    <a href="{{ entry.url }}">
      {{ entry.id | remove: "/journal/" }}
    </a>
  </li>
{% endfor %}
</ul>

<h2>Notes</h2>
<p>
  Notes are incomplete collections of information.
  Quality and completeness varies.
  These files can change at anytime.
  Use at your own risk.
</p>
<ul>
{% for entry in site.notes %}
  <li>
    <a href="{{ entry.url }}">
      {{ entry.id | remove: "/notes/"}}
    </a>
  </li>
{% endfor %}
</ul>
