<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }} | HGPA</title>
    <meta name="description" content="HGPA's notes on {{ .Title }}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/hgpatv.css" />
  </head>
  <body class="container">
    <!-- HEADER -->
    <header><a href="/">HGPA</a></header>
    
    <!-- MAIN -->
    <main>
      <article class="markdown-body">
        {{ .MarkdownHTML }}
        
        <div class="commit-body">
          {{ if .LastCommit }}
          <p>Last Commit Metadata:</p>
          <p>Hash: {{ .LastCommit.Hash }}</p>
          <p>Message: {{ .LastCommit.Message }}</p>
          <!-- <p>{{ .LastCommit.Author.Name }}</p>
          <p>{{ .LastCommit.Author.Email }}</p> -->
          <p>When: {{ .LastCommit.Author.When }}</p>
          {{ end }}
        </div>
      </article>
    </main>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-32432940-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
