
@import (less) "github.css";

body {
  font-family: 'Arial'
}

header {
  margin: 40px auto 20px auto;
  max-width: 800px;
}

h1 {
  font-size: 28px
}

h2 {
  font-size: 24px;
}

article {
  margin: 0 auto;
  max-width: 800px;
}

.gliki-table {
  width: 100%;
}

.gliki-metadata {
  margin: 40px auto 20px;
  padding: 20px 0;
  max-width: 800px;
  border-top: 1px solid #dddddd;
  color: #dddddd;
  a {
    color: #dddddd;
  }
}