<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> | HGPA</title>
    <meta name="description" content="something">
    <link rel="stylesheet" href="/css/hgpa.css" media="screen">
  </head>
  <body>
    <article>{{{ markdown }}}</article>
    <div class="gliki-metadata">
      Modified on: {{modified_on}}<br>
      Created on: {{created_on}}
    </div>
  </body>
</html>